html,
body {
  /* background-color: black; */

  /*body background image */
  background-image: none;
  -moz-user-select: none; /*firefox */
  -webkit-user-select: none; /*Safari*/
  -ms-user-select: none; /* IE */
  user-select: none; /* Standard syntax */
}
